<template>
  <div>
    <h2>新しいスレッドを作成</h2>
    <form class="uk-form-large" @submit.prevent="createThread">
      <input
        type="text"
        class="uk-input"
        v-model="title"
        placeholder="タイトル"
        required
      />
      <input type="submit" class="uk-button uk-button-primary" value="作成" />
    </form>
  </div>
</template>
<script>
export default {
  data() {
    return {
      title: ""
    };
  },
  methods: {
    createThread() {
      this.$store
        .dispatch("createThread", {
          title: this.title
        })
        .then(() => {
          this.$router.push("/");
        })
        .catch(() => {
          this.$router.push("/signin");
        });
    }
  }
};
</script>
