<template>
  <div class="home">
    <h2>スレッド一覧</h2>
    <thread-list />
    <router-link class="uk-button uk-button-default" to="/thread/add"
      >新しいスレッドを作成</router-link
    >
  </div>
</template>

<script>
import ThreadList from "@/components/ThreadList";
export default {
  name: "home",
  components: {
    ThreadList
  }
};
</script>
