<template>
  <section class="uk-section">
    <div v-if="message" class="uk-alert-success" uk-alert>
      <a class="uk-alert-close" uk-close @click="message = ''"></a>
      <p>{{ message }}</p>
    </div>
    <div v-if="error" class="uk-alert-danger" uk-alert>
      <a class="uk-alert-close" uk-close @click="error = ''"></a>
      <p>{{ error }}</p>
    </div>
    <button class="uk-button uk-button-danger" @click="remove">
      全ての自分の投稿を消す
    </button>
  </section>
</template>
<script>
export default {
  data() {
    return {
      message: "",
      error: ""
    };
  },
  methods: {
    remove() {
      this.$store
        .dispatch("remove")
        .then(() => {
          this.message = "全て削除しました";
        })
        .catch(() => {
          this.error = "削除に失敗しました";
        });
    }
  }
};
</script>
