<template>
  <section class="uk-section">
    <h2>新規登録</h2>
    <div v-if="error" class="uk-alert-danger" uk-alert>
      <a class="uk-alert-close" uk-close @click="error = ''"></a>
      <p>{{ error }}</p>
    </div>
    <form class="uk-form-large" @submit.prevent="signUp">
      <input
        class="uk-input"
        v-model="credential.username"
        type="text"
        name="username"
        placeholder="ユーザー名"
        required
      />
      <input
        class="uk-input"
        v-model="credential.displayName"
        type="text"
        name="displayName"
        placeholder="表示用ユーザー名"
        required
      />
      <input
        class="uk-input"
        v-model="credential.password"
        type="password"
        name="password"
        placeholder="パスワード"
        required
      />
      <input class="uk-button uk-button-primary" type="submit" value="登録" />
    </form>
  </section>
</template>
<script>
export default {
  data() {
    return {
      credential: {
        username: "",
        displayName: "",
        password: ""
      },
      error: ""
    };
  },
  methods: {
    signUp() {
      this.$store
        .dispatch("signUp", this.credential)
        .then(() => {
          this.$router.push("/signin");
        })
        .catch(() => {
          this.error = "新規登録に失敗しました";
        });
    }
  }
};
</script>
