<template>
  <section class="uk-section">
    <h2>ログイン</h2>
    <div v-if="error" class="uk-alert-danger" uk-alert>
      <a class="uk-alert-close" uk-close @click="error = ''"></a>
      <p>{{ error }}</p>
    </div>
    <form class="uk-form-large" @submit.prevent="signIn">
      <input
        class="uk-input"
        v-model="credential.username"
        type="text"
        name="username"
        placeholder="ユーザー名"
        required
      />
      <input
        class="uk-input"
        v-model="credential.password"
        type="password"
        name="password"
        placeholder="パスワード"
        required
      />
      <input
        class="uk-button uk-button-primary"
        type="submit"
        value="ログイン"
      />
      <router-link class="uk-button uk-button-secondary" to="/signup"
        >新規登録</router-link
      >
    </form>
  </section>
</template>
<script>
export default {
  data() {
    return {
      credential: {
        username: "",
        password: ""
      },
      error: ""
    };
  },
  methods: {
    signIn() {
      this.$store
        .dispatch("signIn", this.credential)
        .then(() => {
          this.$router.push("/");
        })
        .catch(() => {
          this.error = "ログインに失敗しました";
        });
    }
  }
};
</script>
