<template>
  <div>
    <h1>{{ title }}</h1>
    <message-list />
    <post-message-form />
  </div>
</template>
<script>
import MessageList from "@/components/MessageList";
import PostMessageForm from "@/components/PostMessageForm";
export default {
  components: {
    MessageList,
    PostMessageForm
  },
  computed: {
    title() {
      return this.$store.getters["currentThread"].title;
    }
  }
};
</script>
