<template>
  <section class="uk-section">
    <ul class="uk-list uk-list-divider">
      <li v-for="item in messages" :key="item.ID">
        <span>{{ item.CreatedByAsDisplayName }}: {{ item.Content }}</span
        ><br />
        <span>{{ item.CreatedAt }}</span>
      </li>
    </ul>
  </section>
</template>
<script>
export default {
  computed: {
    messages() {
      return this.$store.getters["messageList"];
    }
  },
  mounted() {
    this.$store.dispatch("fetchThread", this.$route.params);
  }
};
</script>
<style lang="scss" scoped>
ul {
  list-style-type: none;
}
</style>
