<template>
  <div>
    <form class="uk-form-large" @submit.prevent="postMessage">
      <input
        v-model="content"
        class="uk-input"
        type="text"
        placeholder="投稿文"
        required
      />
      <input
        type="submit"
        class="uk-button uk-button-primary"
        value="投稿する"
      />
    </form>
  </div>
</template>
<script>
export default {
  data() {
    return {
      content: ""
    };
  },
  methods: {
    postMessage() {
      if (!this.content) return;
      this.$store
        .dispatch("postMessage", {
          id: this.$route.params.id,
          content: this.content
        })
        .catch(() => {
          this.$router.push("/signin");
        });
    }
  }
};
</script>
