<template>
  <section class="uk-section">
    <ul class="uk-list uk-list-divider">
      <li v-for="item in threadList" :key="item.ID">
        <router-link
          @click.native="setCurrentThread(item)"
          :to="{ name: 'thread', params: { id: item.ID } }"
          >{{ item.Title }} <span>({{ item.MessageCount }})</span></router-link
        ><br />
        <span>{{ item.CreatedAt }}</span>
      </li>
    </ul>
  </section>
</template>
<script>
export default {
  computed: {
    threadList() {
      return this.$store.getters["threadList"];
    }
  },
  mounted() {
    this.$store.dispatch("fetchThreadList");
  },
  methods: {
    setCurrentThread(item) {
      this.$store.commit("setCurrentThread", {
        title: item.Title
      });
    }
  }
};
</script>
<style lang="scss" scoped>
ul {
  list-style-type: none;
}
</style>
