<template>
  <div id="app">
    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
      <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="/">Forum</a>
        <ul class="uk-navbar-nav">
          <li><router-link to="/">Home</router-link></li>
          <li><router-link to="/about">About</router-link></li>
        </ul>
      </div>
      <div class="uk-navbar-right">
        <ul v-if="!token" class="uk-navbar-nav">
          <li><router-link to="/signin">ログイン</router-link></li>
          <li><router-link to="/signup">新規登録</router-link></li>
        </ul>
        <ul v-else class="uk-navbar-nav">
          <li><router-link to="/mypage">マイページ</router-link></li>
        </ul>
      </div>
    </nav>
    <router-view />
  </div>
</template>
<script>
export default {
  computed: {
    token() {
      return this.$store.getters["token"];
    }
  }
};
</script>
<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
/* iOSのinputスタイルリセット
*  参考: https://qiita.com/_upto_me_/items/b35f405a87a2dc56fd48
*/
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  &::-webkit-search-decoration {
    display: none;
  }
  &::focus {
    outline-offset: -2px;
  }
}
</style>
